version: "3.8"

services:
  backend:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app
    env_file:
      ".env"
  ignite:
    image: apacheignite/ignite
    ports:
      - 10800:10800
