# ===== Application =====
APP_HOST=0.0.0.0
APP_PORT=8002

IGNITE_ADDRESSES=ignite:10800

# ===== ЛОГГИРОВАНИЕ =====
LOGGING_APP_LOGLEVEL=DEBUG

# ===== GIGACHAT =====
GIGA_ACCESS_KEY=
GIGA_URL=https://gigachat.devices.sberbank.ru/api/v1/
GIGA_ACCESS_TOKEN_URL=https://ngw.devices.sberbank.ru:9443/api/v2/oauth

# ===== Vector DB =====
CHROMA_SERVER_HOST=chromadb
CHROMA_SERVER_HTTP_PORT=8000
CHROMA_AUTH_TOKEN=
CHROMA_ANONYMIZED_TELEMETRY=FALSE
CHROMA_SERVER_AUTH_PROVIDER=
CHROMA_SERVER_AUTH_CREDENTIALS_PROVIDER=
IS_PERSISTENT=TRUE
PERSIST_DIRECTORY=/chroma/chroma
ALLOW_RESET=TRUE

VECTOR_DB_COLLECTION_NAME=learning_materials
VECTOR_DB_EMBEDDING_MODEL=all-MiniLM-L6-v2
VECTOR_DB_DOCUMENTS_NUMBER=5
VECTOR_DB_DOCUMENTS_PATH=./dialog_api/sources

PROMETHEUS_MULTIPROC_DIR=/tmp
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_USERS_ALLOW_SIGN_UP=false

# Для локального запуска backend
# CHROMA_SERVER_HTTP_PORT=8001
# CHROMA_SERVER_HOST=localhost
